/*title*/
h1{
	font-family:Quantum;
	font-size: 80px;
	color: black;
	
}
body{
	background: #dce0e5;
}

/*CSS Menú*/
.navegacion ul{
	list-style: none;
}

.menu{
	width: 100%;
	background: #000;
	font-family: Okta Neue Black;
	font-size: 25px;
	color: orange;
	list-style:none;
	margin: 0;
	padding: 0;	
	border: solid 4px yellow;
	margin-top: 0;
}

.menu > li {
	display: inline-block;
}
.menu li a{
	padding: 10px 20px;
	display: inline-block;
	color: white;
	font-size: 25px;
	text-decoration: none;
}

.menu li a:hover {
	background: #ccc;
	color: yellow;
	transition: all .5s;

}

/*submenu*/
.submenu{
	position: absolute;
	background: grey;
	width: 14%;
	padding: 0 0 0 20px;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}
.submenu li a {
	font-size: 25px;
	display: block;
	padding: 3px;
	color: #fff;
	font-family: Okta Neue Black;
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}



/*body*/
/*filtros-celulares*/
.filtros{
	width: 400px;
	height: 1345px;
	background: yellow;
	position: absolute;
	display: inline-block;
	margin: 0px 5px 0px 15px;
}

/*lista general de celulares*/
/*cel01*/
.celulares0{
	position: relative;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 4px;
}

.celulares0 img{
	position: static;
	width: 310px;
	height: 380px;
	padding: 15px;
}

.celulares0 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares0 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares0 .precio strong{
 	color: red;
}


.celulares0 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares0 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cel02*/
.celulares1{
	position: absolute;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 700px;
	border-radius: 4px;
}


.celulares1 img{
	position: static;
	width: 315px;
	height: 380px;
	padding: 15px;
}

.celulares1 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares1 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares1 .precio strong{
 	color: red;
}

.celulares1 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares1 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



/*cel03*/
.celulares2{
	position: absolute;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 4px;
}
.celulares2 img{
	position: static;
	width: 310px;
	height: 380px;
	padding: 15px;
}

.celulares2 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares2 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares2 .precio strong{
 	color: red;
}
.celulares2 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares2 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}

/*cel04*/
.celulares3{
	position: absolute;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 700px;
	border-radius: 4px;
}


.celulares3 img{
	position: static;
	width: 315px;
	height: 340px;
	padding: 15px;
}

.celulares3 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares3 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares3 .precio strong{
 	color: red;
}

.celulares3 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares3 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


/*cel05*/
.celulares4{
	position: absolute;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
	border-radius: 4px;
}
.celulares4 img{
	position: static;
	width: 310px;
	height: 380px;
	padding: 15px;
}

.celulares4 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares4 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares4 .precio strong{
 	color: red;
}

.celulares4 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares4 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


/*cel06*/
.celulares5	{
	position: absolute;
	width: 300px;
	height: 410px;
	background: #AAD500;
	display: block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	margin-top: 700px;
	border-radius: 4px;
}

.celulares5 img{
	position: static;
	width: 315px;
	height: 340px;
	padding: 15px;
}

.celulares5 .definition_cel{
	position: absolute;
	width: 310px;
	height: 130px;
	background: beige;
	padding: 15px;
	font-family: Arial;
	display: inline-block;
}

.celulares5 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: relative;
	width: 160px;
	height: 58px;
	display: inline-block;
	padding: 5px;
	margin-top: 55px;
	margin-left: 220px;
	margin-bottom: 0;
	margin-right: 0;
	border-radius: 4px;
}

.celulares5 .precio strong{
 	color: red;
}

.celulares5 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.celulares5 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


/*lista general de laptops*/
.listas{
	position: relative;
	display: inline-block;
	margin-left: 420px;
	padding: 0;
}


/*cuadro0*/
.computadoras0{
	position: static;
	width: 895px;
	height: 220px;
	background: beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras0 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras0 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras0 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-rad
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras0 .precio strong{
 	color: red;
}

.computadoras0 .zoom {
 	transition: transform .5s;
}

.computadoras0 .zoom:hover{
 	transform: scale(1.5);
}

.computadoras0 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras0 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}





/*cuadro1*/
.computadoras1{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras1 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras1 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras1 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras1 .precio strong{
 	color: red;
}

.computadoras1 .zoom {
 	transition: transform .5s;
}

.computadoras1 .zoom:hover{
 	transform: scale(1.5);
}

.computadoras1 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras1.precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



/*cuadro2*/
.computadoras2{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras2 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras2 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras2 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras2 .precio strong{
 	color: red;
}

.computadoras2 .zoom {
 	transition: transform .5s;
}

.computadoras2 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras2 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras2 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cuadro3*/
.computadoras3{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras3 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras3 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras3 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras3 .precio strong{
 	color: red;
}

.computadoras3 .zoom {
 	transition: transform .5s;
}

.computadoras3 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras3 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras3 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cuadro4*/
.computadoras4{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras4 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras4 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras4 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras4 .precio strong{
 	color: red;
}

.computadoras4 .zoom {
 	transition: transform .5s;
}

.computadoras4 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras4 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras4 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


/*cuadro5*/
.computadoras5{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras5 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras5 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras5 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras5 .precio strong{
 	color: red;
}

.computadoras5 .zoom {
 	transition: transform .5s;
}

.computadoras5 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras5 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras5 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



/*cuadro6*/
.computadoras6{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras6 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras6 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras6 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras6 .precio strong{
 	color: red;
}

.computadoras6 .zoom {
 	transition: transform .5s;
}

.computadoras6 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras6 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras6 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cuadro7*/
.computadoras7{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras7 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras7 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras7 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras7 .precio strong{
 	color: red;
}

.computadoras7 .zoom {
 	transition: transform .5s;
}

.computadoras7 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras7 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras7 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cuadro8*/
.computadoras8{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras8 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras8 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras8 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras8 .precio strong{
 	color: red;
}

.computadoras8 .zoom {
 	transition: transform .5s;
}

.computadoras8 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras8 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras8 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


/*cuadro9*/
.computadoras9{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras9 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras9 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras9 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras9 .precio strong{
 	color: red;
}

.computadoras9 .zoom {
 	transition: transform .5s;
}

.computadoras9 .zoom:hover{
 	transform: scale(1.5);
}

.computadoras9 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras9 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



/*cuadro10*/
.computadoras10{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras10 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras10 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras10 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
	border-radius: 4px;
}

.computadoras10 .precio strong{
 	color: red;
 }

.computadoras10 .zoom {
 	transition: transform .5s;
}

.computadoras10 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras10 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras10 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}


 /*cuadro11*/
.computadoras11{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras11 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras11 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras11 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras11 .precio strong{
 	color: red;
 }

 .computadoras11 .zoom {
 	transition: transform .5s;
}

.computadoras11 .zoom:hover{
 	transform: scale(1.5);
}

.computadoras11 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras11 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




 /*cuadro12*/
.computadoras12{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras12 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras12 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras12 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras12 .precio strong{
 	color: red;
 }

.computadoras12 .zoom {
 	transition: transform .5s;
}

.computadoras12 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras12 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras12 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}




/*cuadro13*/
.computadoras13{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras13 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras13 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras13 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras13 .precio strong{
 	color: red;
 }

 .computadoras13 .zoom {
 	transition: transform .5s;
}

.computadoras13 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras13 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras13 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}







/*cuadro14*/
.computadoras14{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras14 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras14 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras14 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras14 .precio strong{
 	color: red;
 }

.computadoras14 .zoom {
 	transition: transform .5s;
}

.computadoras14 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras14 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras14 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}





 /*cuadro15*/
.computadoras15{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras15 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras15 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras15 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras15 .precio strong{
 	color: red;
 }

.computadoras15 .zoom {
 	transition: transform .5s;
}

.computadoras15 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras15 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras15 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



 /*cuadro16*/
.computadoras16{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras16 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras16 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras16 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras16 .precio strong{
 	color: red;
 }

.computadoras16 .zoom {
 	transition: transform .5s;
}

.computadoras16 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras16 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras16 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}



/*cuadro17*/
.computadoras17{
	position: static;
	width: 895px;
	height: 220px;
	background:beige;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-top: 0px;
}

.computadoras17 img{
	position: static;
	width: 215px;
	height: 200px;
	padding: 15px;
}

.computadoras17 .definition_product{
	background: white;
	width: 552px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
	height: 180px;
	position: absolute;
	font-family: Arial;
	display: inline-block;
}

.computadoras17 .precio{
	text-align: center;
	background: #AAD500;
	font-family: Geometr212 BkCn BT;
	color: #ffffff;
	position: absolute;
	width: 160px;
	height: 58px;
	margin-top: 100px;
	margin-bottom: 10px;
	margin-left: 450px;
	display: inline-block;
	padding: 10px;
	border-radius: 4px;
}

.computadoras17 .precio strong{
 	color: red;
 }

 .computadoras17 .zoom {
 	transition: transform .5s;
}

.computadoras17 .zoom:hover{
 	transform: scale(1.5);
}
.computadoras17 .precio a{
 	text-decoration: none;
 	color: #fff;
}

.computadoras17 .precio a:hover{
 	text-decoration: underline;
 	color: #fff;
}





/*space*/
.space{
	margin-top: 7px;
	position: relative;
	background: #ffffff;
	width: 100%;
	height: 25px;
	font-family: Geometr212 BkCn BT;
}



/*final1*/
.final1{
	margin: 0;
	border-top: 13px solid;
	border-color: #AAD500;
	position: relative;
	background: #3b455a;
	width: 100%;
	height: 370px;
	margin: 0;
}
.final1 li a{
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	font-family: Square721 Cn BT;
}

.final1 li a:hover{
	text-decoration: underline;
}

/*Empresa*/
.final1 .list-final1{
	position: relative;
	font-family: Geometr212 BkCn BT;
	font-size: 25px;
	display: inline-block;
	padding: 0;
	margin-left: 50px;
	list-style: none;
	text-decoration: none;
	color: #fff;
}
/*Servicios*/
.final1 .list-final2{
	position: absolute;
	font-family: Geometr212 BkCn BT;
	font-size: 25px;
	display: inline-block;
	padding: 0;	
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 50px;
	list-style: none;
	text-decoration: none;
	color: #fff;
}
/*Recomendaciones*/
.final1 .list-final3{
	position: absolute;
	font-family: Geometr212 BkCn BT;
	font-size: 25px;
	display: inline-block;
	padding: 0;	
	margin-top: 25px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 300px;
	list-style: none;
	text-decoration: none;
	color: yellow;
}

/*Contacto*/
.final1 .list-final4{
	position: absolute;
	font-family: Geometr212 BkCn BT;
	font-size: 10px;
	display: inline-block;
	padding: 15px;
	height: 200px;
	width: 420px;
	margin-top: 113px;
	margin-right: 10px;
	margin-bottom: 0;
	margin-left: 625px;
	list-style: none;
	text-decoration: none;
	color: #fff;
	background: #AAD500;
	border-radius: 7px;
	box-shadow: 7px 13px 37px #000;
}
/*subtitulo*/
.final1 .list-final4 h4{
	font-family: Square721 Cn BT;
	font-size: 15px;
	color: black;
}
/*espacio para escribir*/
.final1 .list-final4 .controls{
	width: 290px;
	border-radius: 4px;
	border: 2px solid black;
	font-family: Square721 Cn BT;
	padding: 5px;
	font-size: 15px;
	background: white;
	color: black;
}
/*boton*/
.final1 .list-final4 .bottom{
	width: 105px;
	border: 2px solid yellow;
	padding: 7px;
	font-family: Square721 Cn BT;
	font-size: 15px;
	background: #050608;
	color: white;
}
/*iconos de redes sociales*/
.final1 .list-final4 .rs{
	margin-left: 75px;
	width: 400px;
	padding: 7px;
}


/*final2*/
.final2{
	position: absolute;
	background: #050608;
	width: 1333px;
	color: white;
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
	font-family: Square721 Cn BT;
	display: inline block;
}

.final2 p{
	padding-bottom: 0;
	padding-right: 0;
	padding-left: 30px;
	padding-top: 5px;
	font-size: 13px;
	display: inline block;
}

.final2 img{
	position: static;
	margin: -120px 20px 20px 1170px;
	width: 100px;
	height: 90px;
}

.final2 .marca{
	position: absolute;
	margin: -120px 40px 10px 910px;	

}

.final2 .marca p{
	font-family: Square721 Cn BT;
	font-size: 16px;
	padding-top: 12px;
}

