@charset "utf-8";
body{
	font-family: Okta Neue Black;
	font-size: 20px;
	color: white;

}
h1{
	font-family:Quantum;
	font-size: 80px;
	color: white;
	
}
h3{
	
    font-family: Arial Narrow;
	font-size: 20px;
	color: white;
	
}
